 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <a id="play-store-button" href="https://play.google.com/store/apps/details?id={{ post.package-name }}&referrer=utm_source%3Dondrejruttkay.com%26utm_medium%3Dlink">
                              <img alt="Get it on Google Play"
                                   src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                            </a>
                            <a id="pebble-store-button" href="https://apps.getpebble.com/applications/52cd76389505d12f6400006e">
                              <img src="http://pblweb.com/badge/52cd76389505d12f6400006e/orange/medium/" alt="RideOn is available on the Pebble appstore" height="58" />
                            </a>
                            <p class="desc">
                                {{ post.description }}
                            </p>
                            <img src="img/{{ post.qr }}" class="img-responsive img-centered" alt="QR code for RideOn on Google Play">
                            <ul class="list-inline item-details">
                                <li>Release Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>Platform:
                                    <strong>{{ post.platform }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}